.backButton{
    color: rgba(65, 105, 225, 0.801) !important;
    cursor: pointer;
    
    &:hover{
        scale: 1.1 !important;
        color: royalblue !important;
    }
}
.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255, 0.5)),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper{
        width: 25%;
        background-color: white;
        padding: 20px;
        @include device(tablet){
            width: 65%;
        }
        @include device(tablet){
            width: 75%;
        }
        &__title{
            font-size: 24px;
            font-weight: 300;
        }
        &__form{
            display: flex;
            flex-direction: column;
            &__input{
                flex: 1;
                min-width: 40%;
                margin: 10px 0px;
                padding: 10px;

            }
            &__button{
                margin-bottom: 10px;
                padding: 15px 20px;
                background-color: teal;
                border: none;
                color: white;
                width: 40%;
                cursor: pointer;
            }
            &__link{
                margin: 5px 0px;
                font-size: 12px;
                cursor: pointer;
            }
            &__agreement{
                font-size: 12px;
                margin: 20px 0px;
                line-height: 15px;
                & strong{
                    font-weight: bold;
                    color: royalblue;
                    cursor: pointer;
                }
            }
        }
    }
}